body {
	color: #460066ff;
}

A {
	color: #460066ff;
	text-decoration: underline;
}

A:hover {
	color: #9d6da9;
	text-decoration: underline;
}


.fgtable-head {
	border-bottom: 1px solid #e890b3 !important;
	color: #460066ff;
	font-weight: bold;
	background-color: #ffde00ff;
	background: -webkit-linear-gradient(top,#ffde00ff 0, #efad0a 100%);
	background: -moz-linear-gradient(top,#ffde00ff 0,#efad0a 100%);
	background: -o-linear-gradient(top,#ffde00ff 0,#efad0a 100%);
	background: linear-gradient(to bottom,#ffde00ff 0,#efad0a 100%);	
}

.fgtable-head-drow {
	color: #460066ff;
	border-bottom: 1px dashed #460066ff;
}

.fgtable-head-drow:hover {
	background-color: #d0d0d0ff;
	cursor: pointer;
}




.fgtable-head-alt1 {
	border-bottom: 1px solid #888888ff !important;
	color: #460066ff;
	font-weight: bold;
	background-color: #d0d0d0ff;
	background: -webkit-linear-gradient(top,#d0d0d0ff 0, #a9a9a9ff 100%);
	background: -moz-linear-gradient(top,#d0d0d0ff 0,#a9a9a9ff 100%);
	background: -o-linear-gradient(top,#d0d0d0ff 0,#a9a9a9ff 100%);
	background: linear-gradient(to bottom,#d0d0d0ff 0,#a9a9a9ff 100%);	
}

.fgtable-head-alt2 {
	border-bottom: 1px solid #9d6da9ff !important;
	color: #460066ff;
	font-weight: bold;
	background-color: #f3d0e2ff;
	background: -webkit-linear-gradient(top,#f3d0e2ff 0, #e890b3ff 100%);
	background: -moz-linear-gradient(top,#f3d0e2ff 0,#e890b3ff 100%);
	background: -o-linear-gradient(top,#f3d0e2ff 0,#e890b3ff 100%);
	background: linear-gradient(to bottom,#f3d0e2ff 0,#e890b3ff 100%);	
}



.c8,.c8:hover,.c8>.panel-header{
	color: #fff;
	border-color: #ff6b35;
	background: #ff6b35;
	background: -webkit-linear-gradient(top,#ff922a 0, #ff6b35 100%);
	background: -moz-linear-gradient(top,#ff922a 0,#ff6b35 100%);
	background: -o-linear-gradient(top,#ff922a 0,#ff6b35 100%);
	background: linear-gradient(to bottom,#ff922a 0,#ff6b35 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff922a,endColorstr=#ff6b35,GradientType=0);
}
a.c8:hover{
	background: #ff922a;
	filter: none;
}
.c8>.panel-body{
	border-color: #ff6b35;
}
.c8>.dialog-toolbar,.c8>.dialog-button{
	border-left-color: #ff6b35;
	border-right-color: #ff6b35;
}
.c8>.dialog-button{
	border-bottom-color: #ff6b35;
}



.container-bar {
	background-color:#9d6da9 !important;
	color: #ebe8f5 !important
}

